/secrets.yaml
/home-assistant.log
/home-assistant.log.1
/home-assistant_v2.db
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal
/tts/
/pyozw.sqlite
/.storage/
/zigbee.db
/packages/google_assistant_service_account.json
